[Unit]
Description=FastAPI app
After=network.target

[Service]
User=omar
WorkingDirectory=/home/omar/ml-app
ExecStart=poetry run uvicorn app:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target